# Ignoruj pliki binarne, buildy i cache
*.pyc
__pycache__/
build/
dist/
*.exe
*.zip
*.toc
*.pkg
*.xlsx

# Nie ignoruj katalogu data/ i data/uploads/, aby były śledzone przez git
!data/
!data/uploads/

